# Ignore all JebBrains IDE files
.idea*


# CMake
cmake-build-*/

# File-based project format
*.iws

# IntelliJ
out/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

*.class
.mtj.tmp/
*.jar
*.war
*.ear
hs_err_pid*

.gradle
**build/

**gradle/

gradlew*
